@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Amatic+SC:700,400);

* { 
    margin:0;
    padding:0;
}

body { 
    font-family: 'Droid Sans', 'sans-serif';
    font-size: 12px;
}

p {
    margin-bottom: 16px;
}

nav {
    float: left;
    padding: 50px;
    font-size: 14px;
}

nav a {
    border-bottom: 3px solid #ffffff;
    color: #000;
    display: inline-block;
    font: 18px/32px;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    border-bottom: 4px solid #FF7FB9;
}

header {
	width: 950px;
	margin-top:10px;
	margin-right:50px;
	margin-bottom:10px;
	margin-left:50px;
}

h1 {
    color: #8d5fe8; 
    font-family: 'Amatic SC', 'cursive'; 
    font-size: 42px;
    font-weight: 500;
    padding: 10px;
}

h2 {
    color: #8d5fe8;
    font-family: 'Droid Sans', 'sans-serif';
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
}

h2 a:visited {
    color: #FF7FB9;
}

h2 a:active {
    color: #8d5fe8;
}

h2 a:hover {
    border-bottom: 1px solid #FF7FB9;
}

h3 {
    color: #000000;
    font-family: 'Droid Sans', 'sans-serif';
    font-size: 16px;
    font-weight: 500;
    padding: 10px;   
}

h4 {
    color: #919191;
    font-style: italic;
    font-family: 'Droid Sans', 'sans-serif';
    padding: 10px;   
}

.wrapper {
    margin: 0 auto;
    width: 960px;
}

figure {
    margin-top:10px;
	margin-right:50px;
	margin-bottom:10px;
	margin-left:50px;
}
    
.about {
    margin: 0;
    width: 760px;
	background-color: #ffffff;
}

.about img {
    float: right;
    margin-top:10px;
	margin-right:50px;
	margin-bottom:10px;
	margin-left:10px;
}

.portfolio {
    margin: 0;
    width: 760px;
	background-color: #ffffff;
}

.portfolio img { 
    height: 250px;
    width: 250px;
}

.resume {
    margin: 0;
    width: 560px;
	background-color: #ffffff;
}

.interests {
    margin: 0;
    width: 960px;
	background-color: #ffffff;
}

.contact {
    margin: 0;
    width: 760px;
    text-align: center;
	background-color: #ffffff;
}

section	{
	margin-left:200px;
}

footer {
	height: 150px;
    width: 960px;
	background-color: #ffffff;
    font-size: 10px;
	text-align: center;
	padding-top: 30px;
}

@media (max-width: 690px) {
    
    .banner {
        padding: 0;
        text-align: left;
    }


}